.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 220px;
  padding: 20px;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

header, footer {
  padding: 10px 20px;
  text-align: center;
}
